@import './sidenav.scss';
@import './mainpage.scss';
@import './topactionbar.scss';
@import './login.scss';
body {
    margin: 0;
    overflow: hidden;
}
.app-container {
    height: 100vh;
    display: flex;
}
