.top-header-container {
    display: flex;
    justify-content: space-between;
}
.header {
    height: 70px;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color:#7e3878;
}
.page-actions {
    padding-top: 10px;
    padding-right: 10px;
}